header {
    background-color: white;
    box-shadow: 0 5px 10px rgba(104, 104, 104, 0.098);
    height: 130px;
    position: fixed;
}
main {
    padding-top: 50px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: orange;
}

img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 20%;
    cursor: pointer;
}

body {
    /* background-image: url('../images/bg-blank.jpg'); */
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    margin: 0;
    background-position: center;
}

.btn {
    color: #FF7F1B;
    border: 2.2px solid #FF7F1B;
    width: 190px;
    height: auto;
    margin: 10px 15px 10px 15px;
    border-radius: 100px;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.685);
    padding: 11px 27px;
    font-family: 'Helvetica';
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;

    display: inline;

}

.special-btn {
    color: #ff7e1b36;
    border: 2.5px solid #ff7e1b30;
    width: 190px;
    height: auto;
    margin: 10px 15px 10px 15px;
    border-radius: 100px;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.685);
    padding: 11px 27px;
    font-family: 'Helvetica';
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}

.btn:hover {
    transform: scale(1.02);
    /* Slightly increase the button size on hover */
}

.special-btn:hover {
    transform: scale(1.02);
    /* Slightly increase the button size on hover */
}

.btn-container {
    display: inline;
    justify-content: space-between;
    height: 100vh;
    padding: 20px 20px;
}

.btn-group {
    margin-top: 10px;
}

/* .btn-left {
    display: flex;
    justify-content: flex-start;
}
.btn-right {
    display: flex;
    justify-content: flex-end;
} */

.btn-right-group {
    align-items: flex-end;
    margin-right: 25px;
}

.btn-left-group {
    align-items: flex-start;
    margin-left: 25px;
}

@media (max-width: 768px) {

    /* Reduce button width and font size */
    .btn {
        width: 250px;
        font-size: 24px;
        padding: 10px 20px;
    }

    .btn-container {
        padding: 0 10px;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.podcast-episode {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 25px;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
    width: 20%;
    height: 20%;
    margin-top: 0;
}

.logo-container:hover {
    transform: scale(1.02);
    /* Slightly increase the button size on hover */
}
