h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: orange;
}


body {
    background-image: url('../images/we-got-next.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    background-position: center;
}

.btn {
    color: #FF7F1B;
    border: 3.5px solid #FF7F1B;
    width: 300px;
    height: auto;
    margin: 5px;
    border-radius: 100px;
    font-size: 27px;
    background-color: rgba(255, 255, 255, 0.685);
    padding: 11px 27px;
    font-family: 'Helvetica';
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    padding: 11px 27px;
  }
  
  .btn:hover {
    transform: scale(1.02); /* Slightly increase the button size on hover */
}

.special-btn {
    background-color: rgba(255, 255, 255, 0.885); /* Change to a more opaque background than the others*/
}

.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .btn-left {
    display: flex;
    justify-content: flex-start;
}
.btn-right {
    display: flex;
    justify-content: flex-end;
} */

.btn-right-group {
    align-items: flex-end;
    margin-right: 25px;
}

.btn-left-group {
    align-items: flex-start;
    margin-left: 25px;
}